{% extends 'base.html' %}
{% load static %}


{% block css %}
    <style>
        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            padding: 20px;
            width: 100%;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 6px;
          
        }
        .comment-box{
            
            padding:5px;
        }
        .comment-area textarea{
           resize: none; 
                border: 1px solid #ad9f9f;
        }
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #ffffff;
            outline: 0;
            box-shadow: 0 0 0 1px rgb(136, 165, 18) !important;
        }
        
        .send {
            color: #fff;
            background-color: #ddf80d;
            border-color: #c1f508;
        }
        
        .send:hover {
            color: #fff;
            background-color: #c1f508;
            border-color: #c1f508;
        }
        
        
        .rating {
            display: flex;
            margin-top: -10px;
            flex-direction: row-reverse;
            margin-left: -4px;
            float: left;
        }
        
        .rating>input {
            display: none
        }
        .star,.star-full{
            position: relative;
            width: 35px;
            font-size: 35px !important;
            color: #ff9d00;
            cursor: pointer;
        }
        .star-full::before {
            content: "\2605";
            position: absolute;
            opacity: 1
        }
        
       
        .rating>label {
            position: relative;
            width: 35px;
            font-size: 35px !important;
            color: #ff9d00;
            cursor: pointer;
        }
        
        .rating>label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }
        
        .rating>label:hover:before,
        .rating>label:hover~label:before {
            opacity: 1 !important
        }
        
        .rating>input:checked~label:before {
            opacity: 1
        }
        
        .rating:hover>input:checked~label:before {
            opacity: 0.4
        }
    </style>
{% endblock css %}
    

{% block body %}
<div class="container pb-5 pt-5" >
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> 
                                <img id="main-image" src="{{ product.product.image.url }}" width="250" height="250"/> 
                            </div>
                            <div class="thumbnail text-center"> 
                                
                                {% for i in product.images.all|slice:':3' %} 
                                <img onclick="change_image(this)" src="{{ i.image.url }}" width="70"> 
                                {% endfor %}
                                    
 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center justify-content-between"> 
                                     <h5 class="ml-1">{{ product.product.title }}</h5>
                                    </div> 
                                </div>
                                <p class="py-2">
                                   <i class="fa fa-star text-warning"></i>
                                   <i class="fa fa-star text-warning"></i>
                                   <i class="fa fa-star text-warning"></i>
                                   <i class="fa fa-star text-warning"></i>
                                   <i class="fa fa-star text-secondary"></i>
                                   <span class="list-inline-item text-dark">Rating {{ product.product.stars }} | Toplam Yorum Sayısı {{ comments|length }}</span>
                               </p>
                            <div class="mb-2"> 
                                <div class="d-flex">
                                   
                            </div> 
                            
                                <h5 class="text-uppercase"> {{ product.product.brand }}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">$ {{ product.product.price }}</span>
                                    
                                </div>
                                Ürün Giriş Tarihi: {{ product.product.date_now }}
                            </div>
                            <span>Açıklama</span>
                            <p class="about">{{ product.product.detail|truncatechars:150 }}</p>
                            <span>Ürün Hakkında</span>
                            <p class="about">{{ product.product.text|truncatechars:200 }}</p>
                            <form method="POST" class="sizes">
                                {% csrf_token %}
                                
                                {% if product.product.category.slug == 'kiyafet' %}
                                    
                                <h6 class="text-uppercase">Size</h6> 
                                {% if messages %}
                                     {% for i in messages %}  
                                     <div class="text-danger mb-2">{{ i }}</div>
                                     {% endfor %}    
                                {% endif %}
                                <label class="radio" for="sizeS"> 
                                    <input type="radio" name="size" id="sizeS" value="S" checked> 
                                    <span>S</span>
                                 </label> 
                                 <label class="radio" for="sizeM">
                                     <input type="radio" name="size" id="sizeM" value="M"> 
                                     <span>M</span> 
                                </label> 
                                    <label class="radio" for="sizeL"> 
                                        <input type="radio" name="size" id="sizeL" value="L"> 
                                        <span>L</span> 
                                    </label> 
                                <label class="radio" for="sizeXL"> 
                                    <input type="radio" name="size" id="sizeXL" value="XL"> 
                                    <span>XL</span>
                                 </label> 
                                 <label class="radio" for="sizeXXL">
                                     <input class="btn btn-primary" type="radio" name="size" id="sizeXXL" value="XXL"> 
                                     <span>XXL</span> 
                                </label>
                                    
                                {% endif %}
                                        
                                {% if product.product.category.slug == 'ayakkabi' %}
                                    
                                <h6 class="text-uppercase">Size</h6> 
                                {% if messages %}
                                     {% for i in messages %}  
                                     <div class="text-danger mb-2">{{ i }}</div>
                                     {% endfor %}    
                                {% endif %}
                                <label class="radio" for="size36"> 
                                    <input type="radio" name="size" id="size36" value="36" checked> 
                                    <span>36</span>
                                 </label> 
                                 <label class="radio" for="size37">
                                     <input type="radio" name="size" id="size37" value="37"> 
                                     <span>37</span> 
                                </label> 
                                    <label class="radio" for="size38"> 
                                        <input type="radio" name="size" id="size38" value="38"> 
                                        <span>38</span> 
                                    </label> 
                                <label class="radio" for="size39"> 
                                    <input type="radio" name="size" id="size39" value="39"> 
                                    <span>39</span>
                                 </label> 
                                 <label class="radio" for="size40">
                                     <input class="btn btn-primary" type="radio" name="size" id="size40" value="40"> 
                                     <span>40</span> 
                                </label>
                                 <label class="radio" for="size41">
                                     <input class="btn btn-primary" type="radio" name="size" id="size41" value="41"> 
                                     <span>41</span> 
                                </label>
                                 <label class="radio" for="size42">
                                     <input class="btn btn-primary" type="radio" name="size" id="size42" value="42"> 
                                     <span>42</span> 
                                </label>
                                 <label class="radio" for="size43">
                                     <input class="btn btn-primary" type="radio" name="size" id="size43" value="43"> 
                                     <span>43</span> 
                                </label>
                                 <label class="radio" for="size44">
                                     <input class="btn btn-primary" type="radio" name="size" id="size44" value="44"> 
                                     <span>44</span> 
                                </label>
                                 <label class="radio" for="size45">
                                     <input class="btn btn-primary" type="radio" name="size" id="size45" value="45"> 
                                     <span>45</span> 
                                </label>
                                    
                                {% endif %}
                                        
                                    
                                <div class="cart justify-content-between"> 
                                    <div class="mt-2">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Adet
                                                <input type="hidden" name="count" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary btn btn-danger" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                        
                                        {% if request.user.is_authenticated %}
                                        <button type="submit" name="shopbutton" value="sepet" class="btn btn-primary text-uppercase mr-2 px-4">Sepete Ekle</button> 
                                        {% else %}
                                        <a style="text-decoration: none; font-size: 25px;" href="{% url 'kayit' %}">Sepete eklemek için giriş yapın!</a>
                                        {% endif %}
                                            
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- ürünler -->
  <div class="container-fluid">
    <div class="ozel-urun ">
      <div class="row">
        
        
        <div class="container">
            <div class="row mb-3">
                <h4>Yorumlar</h4>
                <!-- Yorum -->
                <div class="col-12">
                    <div class="card p-4">
                        
                        {% for comm in comments %}
                        <hr>
                            <div class="row">                           
                            <div class="col-2  text-center">                              
                                <img src="https://i.imgur.com/xELPaag.jpg" width="70%" class="rounded-circle mt-2">
                                <h5 class="mt-3">{{ comm.user.get_full_name }}</h5>
                                
                            </div>
                            <div class="col-10">
                                <div class="comment-box ml-2 m-0">                     
                                    <div class="d-flex justify-content-between p-0">
                                      <div class="rating m-0"> 
                                                                                
                                        {% for i in '54321'|make_list %}
                                            {% if i|add:'0' > comm.star %}
                                            <p class="star m-0">☆</p>
                                            {% else %}
                                            <p class="star-full m-0">☆</p> 
                                            {% endif %}
                                        {% endfor %}
                                            
                                    </div>
                                    <h6 class="mt-4">{{ comm.date_now }}</h6>
                                    </div>
                                    
                                    <hr>
                                    <div class="comment-area"> 
                                        <p style="margin-bottom: 0 !important;" class="text-start">{{ comm.title }}</p>                                     
                                        <p style="margin-bottom: 0 !important;" class="text-start">{{ comm.text }}</p>
                                    </div>                                                                    
                                </div>
                            </div>
                        </div> 
                        {% endfor %}
                            
                       
                    </div>
                </div>
                <h4>Yorum Yap</h4> 
                <!-- Yorum Yap -->
                <div class="col-12">
                    <div class="card p-4">
                        <div class="row">                           
                            <div class="col-2  text-center">                              
                                <img src="https://i.imgur.com/xELPaag.jpg" width="70%" class="rounded-circle mt-2">
                                <h5 class="mt-3">{{ request.user.get_full_name }}</h5>
                            </div>
                            <div class="col-10">
                                <form method="POST" class="comment-box ml-2">                     
                                    {% csrf_token %}
                                    <div class="rating"> 
                                        <input type="radio" name="star" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" name="star" value="4" id="4"><label for="4">☆</label> 
                                        <input type="radio" name="star" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" name="star" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" name="star" value="1" id="1"><label for="1">☆</label>
                                    </div>
                                    <div class="comment-area"> 
                                        <input type="text" name="title" class="form-control" placeholder="Yorum Başlığı">                                      
                                        <textarea class="form-control" name="text" placeholder="Yorum..." rows="4"></textarea>                                    
                                    </div>                                    
                                    <div class="comment-btns mt-2">                                        
                                        <div class="row">                                           
                                            <div class="col-6">                                                
                                                <div class="pull-left">  
                                                    
                                                    {% if request.user.is_authenticated %}
                                                       <button type="submit" name="submit" value="comment" class="btn btn-success btn-sm">Yorumu Paylaş</button>                                                          
                                                    {% else %}
                                                        <a href="{% url 'kayit' %}">Yorum Yapmak İçin Giriş Yap</a>
                                                    {% endif %}
                                                                                                      
                                                </div>                 
                                            </div>                                                                                
                                        </div>                                   
                                    </div>                               
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% for i in products %}
          <div class="col-xxl-3 col-xl-4 col-lg-4 col-sm-6 mb-4">
          <div class="ozel">
            <a href="{% url 'detail' i.product.slug %}"><img src="{{ i.product.image.url }}" alt="resim"></a>
            <div class="ozel-bilgi">
              <span>{{ i.product.brand }}</span>
              <h5>{{ i.product.title }}</h5>
              <div class="yildiz">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
              </div>
              <h4>{{ i.product.price }} TL</h4>
              
            </div>
            <a href="{% url 'detail' i.product.slug %}"><i class="fas fa-shopping-cart cart"></i></a>
           </div>
        </div>
        {% endfor %}
          
        
        
      </div>
    </div>
  </div>
{% block js %}
<script>
    function change_image(image){
        var container = document.getElementById("main-image");
    container.src = image.src;
    }
    // Product detail
    $('.product-links-wap a').click(function(){
        var this_src = $(this).children('img').attr('src');
        $('#product-detail').attr('src',this_src);
        return false;
      });
      $('#btn-minus').click(function(){
        var val = $("#var-value").html();
        val = (val=='1')?val:val-1;
        $("#var-value").html(val);
        $("#product-quanity").val(val);
        return false;
      });
      $('#btn-plus').click(function(){
        var val = $("#var-value").html();
        val++;
        $("#var-value").html(val);
        $("#product-quanity").val(val);
        return false;
      });
      $('.btn-size').click(function(){
        var this_val = $(this).html();
        $("#product-size").val(this_val);
        $(".btn-size").removeClass('btn-secondary');
        $(".btn-size").addClass('btn-success');
        $(this).removeClass('btn-success');
        $(this).addClass('btn-secondary');
        return false;
      });
 

</script>

{% endblock js %}
    
{% endblock body %}
    