{% load static %}
    <!-- footer -->
    <div class="container-fluid footerr m-0">
        <div class="row genel-row">
            <div class="col">
                <p class="baslik">
                Türkiye’nin önde gelen online alışveriş sitesi ve mobil uygulaması E-Ticaret’de ihtiyacınız olan tüm ürünler var var! Kozmetikten modaya, elektronikten dekorasyona farklı kategorilerde aradığınız binlerce ürünü sizlere sunuyor ve ücretsiz olarak kapınıza getiriyoruz! Siz de ister sevdiklerinizi mutlu etmek için ister kendiniz için sipariş verin, E-Ticaret Extra’nın fırsatlarla dolu dünyasıyla tanışın.
                </p>
            </div>
        
            <div class="kart-foter">
                <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <ul class="kart">
                        <li><a href="#">
                        <img src="{% static 'img/uygulama1.png' %}" alt="resim">
                        </a></li>
                        <li><a href="#">
                        <img src="{% static 'img/uygulama2.png' %}" alt="resim">
                        </a></li>
                        <li><a href="#">
                        <img src="{% static 'img/uygulama3.png' %}" alt="resim">
                        </a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="icon">
                        <li><a href="#">
                        <i class="fa-brands fa-square-instagram"></i>
                        </a></li>
                        <li><a href="#">
                        <i class="fa-brands fa-square-facebook"></i>
                        </a></li>
                        <li><a href="#">
                        <i class="fa-brands fa-square-twitter"></i>
                        </a></li>
                        <li><a href="#">
                        <i class="fa-brands fa-square-youtube"></i>
                        </a></li>
                        <li><a href="#">
                        <i class="fa-brands fa-square-google-plus"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bilgiler-foter">
            <div class="row">
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-6">
                <h3>E-Ticaret</h3>
                <ul>
                <li><a href="#">Biz Kimiz</a></li>
                <li><a href="#">Kariyer</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">E-Ticaret'de Satış Yap</a></li>
                <li><a href="#">Kurumsal Hediye Çekş</a></li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-6">
                <h3>Hakkımızda</h3>
                <ul>
                <li><a href="#">Biz Kimiz</a></li>
                <li><a href="#">Kariyer</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-6">
                <h3>Kampanyalar</h3>
                <ul>
                <li><a href="#">Aktif Kampanyalar</a></li>
                <li><a href="#">Elite Üyelik</a></li>
                <li><a href="#">Hediye Fikirleri</a></li>
                <li><a href="#">E-Ticaret Fikirleri</a></li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-6">
                <h3>Yardım</h3>
                <ul>
                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                <li><a href="#">Canlı Yardım</a></li>
                <li><a href="#">Nasıl İade Edebilirim</a></li>
                <li><a href="#">İşlem Rehberi</a></li>
                </ul>
            </div>
            <div class="col-xxl-4 col-lg-4">
                <h3>Konum</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d781209.2690262157!2d28.362549796698126!3d40.10665921132236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b58f7bddb822a9%3A0x922ca670b54646cd!2sBursa!5e0!3m2!1str!2str!4v1671026577799!5m2!1str!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- footer son -->
    <div class="container-fluid footerr-son">
        <div class="row">
        <div class="col">
            <h1>E-Ticaret @ Tüm Hakları Saklıdır.</h1>
        </div>
        </div>
    </div>
        
