
<!-- NavBar -->
<div class="container-fluid p-0">
    <div class="navbarbaslik">
            <h1>E-Ticaret</h1>
            <div>
            <ul id="navbar">
            <li><a class="active" href="{% url 'index' %}">Anasayfa</a></li>
            <li><a href="{% url 'urunler' %}">Ürünler</a></li>
            <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
            <li><a href="{% url 'iletisim' %}">İletişim</a></li>
            
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'logoutUser' %}">Çıkış Yap</a>
            </li>
            <li id="lg-bag">
            <a href="{% url 'kart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            <span class="position-absolute top-0 left-100 translate-middle badge rounden-pill bg-light text-dark">{{ shopbasket|length }}</span>
            </li>
            <li id="lg-bag">
                <a href="{% url 'profilUser' %}"><i class="fa-solid fa-user"></i></a>
            </li>
            {% else %}
            
            <li><a href="{% url 'kayit' %}">Giriş Yap</a></li>
            {% endif %}   
            
            <a href="#" id="kapat"><i class="fas fa-times"></i></a>
            </ul>
            </div>
            <div id="mobile">
            
            {% if request.user.is_authenticated %}
            
            <a href="{% url 'kart' %}"><i class="fa-solid fa-cart-shopping"></i></i></a>
            <span class="position-absolute top-5 ms-5 translate-middle badge rounden-pill bg-light text-dark">{{ shopbasket|length }}</span>
            <a href="{% url 'profilUser' %}"><i class="fa-solid fa-user"></i></a>
            
            <i id="bar" class="fas fa-outdent"></i>
            {% else %}
            <i id="bar" class="fas fa-outdent"></i>
            {% endif %}
                
            </div>
            
    </div>
</div>
    